.button-icon{
  width: 30px;
}
.btn{
  background-color: #EDF1D6;
  padding: 30px;
  width: 20%;
  font-size: 20px;
}
.btn:hover{
  background-color: #9DC08B;
}

.button-general{
  background-color: #609966;
  padding: 10px;
  border-color: none !important;
  color: #EDF1D6;
}

.button-general:hover{
  background-color: #9DC08B;
}
