nav{
  background-color: #EDF1D6;
  padding: 6px;
  padding-left: 70px;
  padding-right: 100px;
  width: 100%;
  font-size: 20px;
}

.nav-logo {
  width: 150px;
}

.navbar-expand-lg {
  justify-content: space-between;
}
/* Para centrar el logo verticalmente y hacerlo más grande */
.navbar-brand {
  display: flex;
  align-items: center;
  padding-right: 0;
}
/* Para darle un estilo a la imagen de usuario */
.user-icon img {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
/* Para hacer el fondo de la barra de navegación transparente */
.nav-logo {
  width: 150px;
}
