
<!-- Nav bar -->
<shared-navbar></shared-navbar>

<div class="container-fluid mt-5">
  <div>
    <h2 class="text-center">¿Qué quieres hacer?</h2>
  </div>
  <div class="container-fluid mt-5 text-center">
    <div class="row">
      <div class="col">
        <button class="btn" id="button_buy" (click)="navegar('comprar')">
          <img
            src="../../assets/icon/shopping-cart.svg"
            alt="Icono"
            class="button-icon mr-2"
          />
          Comprar
        </button>
      </div>
      <div class="col" >
        <button class="btn" id="button_register_customer" (click)="navegar('registrar-cliente')" >
          <img
            src="../../assets/icon/register.svg"
            alt="Icono"
            class="button-icon mr-2"
          />
          Registrar cliente
        </button>
      </div>
      <div class="col">
        <button class="btn">
          <img
            src="../../assets/icon/ascend.svg"
            alt="Icono"
            class="button-icon mr-2"
          />
          Ascender Cliente
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <button class="btn">
          <img
            src="../../assets/icon/register.svg"
            alt="Icono"
            class="button-icon mr-2"
          />
          Registrar Representante
        </button>
      </div>
      <div class="col">
        <button class="btn">
          <img
            src="../../assets/icon/calculate.svg"
            alt="Icono"
            class="button-icon mr-2"
          />
          Calcular comisión
        </button>
      </div>
      <div class="col">
        <button class="btn">
          <img
            src="../../assets/icon/switch.svg"
            alt="Icono"
            class="button-icon mr-2"
          />
          Cambiar de Representante
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <button class="btn">
          <img
            src="../../assets/icon/report.svg"
            alt="Icono"
            class="button-icon mr-2"
          />
          Generar Reporte
        </button>
      </div>
      <div class="col">
        <button class="btn">
          <img
            src="../../assets/icon/modify.svg"
            alt="Icono"
            class="button-icon mr-2"
          />
          Modificiar Variables
        </button>
      </div>
      <div class="col">
        <button class="btn">
          <img
            src="../../assets/icon/order.svg"
            alt="Icono"
            class="button-icon mr-2"
          />
          Ver mis pedidos
        </button>
      </div>
    </div>
  </div>
</div>
